{% extends 'base.html.twig' %}

{% block title %}{{ 'locker.new' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'locker.create_new' | trans }}</h1>

    {{ include('locker/_form.html.twig') }}

    <a class="btn btn-outline-warning" href="{{ path('app_locker_index') }}">{{ 'global.back' | trans }}</a>
{% endblock %}
