{% extends 'base.html.twig' %}

{% block title %}{{ 'global.welcome'|trans }}{% endblock %}

{% block body %}
    <h2>{{ 'global.welcome'|trans }}</h2>
    <br>
    <h1>
        {% if user.name is not null %}
            {{ user.name }}
            {% if user.lastname is not null %}
                {{ user.lastname }}
            {% endif %}
        {% else %}
            {{ user.username }}
        {% endif %}
    </h1>
    <br>
    <h4>{{ 'user.credit'|trans }}</h4>
    {% if user.credit is not null %}
        <h3>{{ user.credit | format_currency('IRR') }}</h3>
        {% else %}
            <h3>0</h3>
    {% endif %}
    <div class="card-group">
        <div
                {% if user.getLocker is null %}
                    class="card"
                {% else %}
                    class="card text-success border-success"
                {% endif %}
        >
            <div class="card-body">
                {% if user.getLocker is null %}
                    <h5 class="card-title">{{ 'global.locker'|trans }}</h5>
                    <a href="{{ path('app_user_locker', {'id': user.id}) }}"
                       class="btn btn-outline-primary">{{ 'user.openlocker'|trans }}</a>
                {% else %}
                    <h5 class="card-title">{{ 'global.locker'|trans }}</h5>
                    <p class="card-text">{{ 'user.locker_number'|trans }}</p>
                    <p class="card-text">{{ user.getLocker.getNumber }}</p>
                    <a href="{{ path('app_user_locker_empty', {'id': user.id}) }}"
                       class="btn btn-outline-primary">{{ 'user.empty_locker'|trans }}</a>
                {% endif %}
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ 'global.membership'|trans }}</h5>
                <p class="card-text">
                    {{ 'user.remaining_class'|trans }}
                    {{ user.getnumberofclasses }}</p>
                <a href="{{ path('app_membership_index') }}"
                   class="btn btn-outline-primary">{{ 'global.enter'|trans }}</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ 'global.product'|trans }}</h5>
                <a href="{{ path('app_product_index') }}"
                   class="btn btn-outline-primary"> {{ 'global.enter'|trans }}</a>
            </div>
        </div>
    </div>
    <br>
    <a href="{{ path('app_logout') }}"
       class="btn btn-outline-danger"> {{ 'global.logout'|trans }}</a>
{% endblock %}
