{% extends 'base.html.twig' %}

{% block title %}{{ 'product.new' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'product.create_new' | trans }}</h1>

    {{ include('product/_form.html.twig') }}

    <a class="btn btn-outline-warning"  href="{{ path('app_product_index')}}">{{ 'global.back' | trans }}</a>
{% endblock %}
