{% extends 'base.html.twig' %}

{% block title %}{{ 'membership.new' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'membership.create_new' | trans }}</h1>

    {{ include('membership/_form.html.twig') }}

    <a class="btn btn-outline-warning" href="{{ path('app_membership_index') }} ">{{ 'global.back' | trans }}</a>
{% endblock %}
